#header  {
    height: 150px;
}

#app {
	padding-top: 200px;
}

.text-muted{
	text-align: justify;
    line-height: 30px;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.col-xs-12{
	width: 100%;
}

ul li .text-muted span{
    padding: 0 40px;
    display: inline-block;
}

.row .main-title{
	margin-top: 15px;
	margin-bottom: 10px;
}

.align-left{
    text-align: left;
}

.logos{
	margin-top: 30px;
}

.gop img{
    width: 79%;
}

.democratic img{
    width: 36%;
}

.logo-img {
    padding: 20px;
    margin: 40px;
    background-color: #888;
    cursor: pointer;
}

.logo-img .logo-title{
	padding: 10px 20px; 
	color: #fff;
}

h3{
    padding: 10px 30px;
}

ul{
    padding:0;
}

ul li {
	margin: 20px 0; 
	padding:10px 20px;
    background-color: #fff;
}

.img-title{
	padding: 10px 20px;
}

table tr{
    text-align: left;
}

table a{
    font-size: 14px;
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
}